<html>
    <head>
        <title>Bedrock Product Roadmap</title>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.3.2/semantic.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
        <script src="roadmap.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.3.2/semantic.min.css"></link>
    </head>
    <body ng-app="XK_Roadmap">
        <div class="ui inverted blue header segment">
            XumaK Bedrock Roadmap
        </div>
        <div class="ui vertically padded horizontally padded grid" ng-controller="roadmapBoard">
            <div class="ui four column row">
                <div class="ui column" ng-repeat="list in lists">
                    <div class="ui red header segment">{{list.name}}</div>
                    <div class="ui segment" ng-repeat="card in list.cards">
                        <div class="ui label {{label.color}}" ng-repeat="label in card.labels">{{label.name}}</div>
                        <div class="ui segment">{{card.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Road Map output -->
        <div class="ui inverted red segment">
            @Copyright 2015 XumaK, L.L.C.
        </div>
    </body>
</html>
